<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="readings delete">
  <h2>Delete Reading</h2>

  <%= form_for(:subject, :url => {:action => 'destroy', :id => @reading.id}) do |f| %>
  <p>Sure you want to delete this reading?</p>

  <p class="reference-name">Reading ID (<%= @reading.id %>) for location <%= @reading.location %></p>

  <div class="form-buttons">
    <%= submit_tag("Delete Reading") %>
  </div>

  <% end %>
</div>
