<div class="readings index">
  <h2>Temperature Readings</h2>

  <%= link_to("Add New Reading", {:action => 'new'}, :class => 'action new') %>

  <table class="listing" summary="readings list">
    <tr class="header">
      <th>ID</th>
      <th>Location</th>
      <th>Temperature</th>
      <th>Recording At</th>
      <th>Actions</th>
    </tr>
    <% @readings.each do |reading| %>
    <tr>
      <td><%= reading.id %></td>
      <td><%= reading.location %></td>
      <td><%= reading.temperature %></td>
      <td><%= reading.recorded_at.in_time_zone("Pacific Time (US & Canada)") %></td>
      <td class="actions"><%= link_to("Show", {:action => 'show', :id => reading.id}, :class => 'action delete') %></td>
      <td class="actions"><%= link_to("Delete", {:action => 'delete', :id => reading.id}, :class => 'action delete') %></td>
    </tr>
    <% end %>
  </table>
</div>
